<div class="cover">
  <div class="cover-text" align="center">
      <h1 class="display-2">Stock Tracker</h1>
      <p class="lead">Sign Up, <br/> Follow your stocks, <br/> Follow your friends!</p>
      <p><%= link_to 'logout', destroy_user_session_path, method: :delete %>
      </p>
  </div>
</div>



<!--<div class="bg-container">-->
<!--  <div class="site-wrapper home-bg">-->
<!--    <div class="site-wrapper-inner">-->
<!--      <div class="cover-container">-->
<!--        <section class="info justify-content-center align-items-center">-->
<!--       <h1 class="cover-heading text-center display-1">Stock Tracker</h1>-->
<!--        <p class="lead"> Sign Up enter your stocks to follow then follow your friends!</p>-->
<!--        <p class="lead text-center">-->
          
<!--          <%= link_to 'logout', destroy_user_session_path, method: :delete %>-->
<!--        </p>-->
       
<!--    </section>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->








