<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="footer-block" align="center">&copy; Shownola 2018<br/>(602) 432-8593.</p>
  </div>
  </div>


